---
import Profile from '@/components/astro/pages/top/Profile.astro'
import Career from '@/components/astro/pages/feature/Career.astro'
import Layout from '@/layouts/mainLayout.astro'
import { getCareerList } from '@/api/career'
import Artifacts from '@/components/astro/pages/feature/Artifacts.astro'

const careerList = await getCareerList()
---

<Layout title="maru's room">
  <main class="content">
    <Profile hasDetailLink={false} />
    <Career careers={careerList} />
    <Artifacts />
  </main>
</Layout>

<style lang="scss">
  @import '@/styles/_variables.scss';
  .content {
    margin: 64px 10%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .title {
    &-heading {
      font-size: map-get($map: $font-sizes, $key: 'title');
      text-align: center;
    }

    &-description {
      text-align: center;
      font-size: map-get($map: $font-sizes, $key: 'heading4');
      font-weight: 300;
      color: map-get($map: $text-colors, $key: 'grey');
    }
  }
</style>
