---
import type { BlogDocument } from '@/types/prismic'
import NoImage from '@public/no-image.png'
import dateFormat from '@/utils/dateFormat'

export interface Props {
  blog: BlogDocument
}

const { blog } = Astro.props
---

<a href={'/blog/' + blog.id} aria-label="記事の詳細を見る" class="card-wrapper">
  <article class="card">
    <header class="card-header">
      <img
        class="card-header-image"
        src={blog.data.thumbnail.url ?? NoImage}
        alt="記事のサムネイル画像"
      />
    </header>
    <section class="card-content">
      <h1 class="card-title">{blog.data.title}</h1>
      <p class="card-description">{blog.data.description}</p>
    </section>
    <footer class="card-footer">
      <p class="card-date">last update: {dateFormat(blog.last_publication_date)}</p>
    </footer>
  </article>
</a>

<style lang="scss">
  @import '@/styles/_variables.scss';

  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr max-content;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
    &-wrapper {
      width: 100%;
      @include tablet {
        max-width: 400px;
      }

      @include sp {
        max-width: 300px;
      }
    }

    &-header {
      text-align: center;
      background-color: map-get($map: $bg-colors, $key: 'grey');
      overflow-x: hidden;
      &-image {
        height: 100%;
        width: auto;
        max-width: 100%;
        object-fit: cover;
      }
    }

    &-content {
      padding: 15px;
    }

    &-title {
      font-size: map-get($map: $font-sizes, $key: 'heading3');
      color: map-get($map: $text-colors, $key: 'primary');
      display: -webkit-box;
      height: 60px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: break-spaces;
    }

    &-description {
      margin-top: 10px;
      font-size: map-get($map: $font-sizes, $key: 'heading5');
      color: map-get($map: $text-colors, $key: 'primary');
      display: -webkit-box;
      height: 67.5px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: break-spaces;
    }

    &-date {
      font-weight: 300;
      font-size: map-get($map: $font-sizes, $key: 'caption');
      color: map-get($map: $text-colors, $key: 'secondary');
    }

    &-footer {
      padding: 15px;
    }
  }
</style>
