---
import SectionLayout from '@/layouts/SectionLayout.astro'
import { SkillRadar } from '@/components/react/SkillRadar'
//スキルをグラフで表示
---

<SectionLayout title="Skills" description="What can you do?">
  <div>
    <SkillRadar />
  </div>
</SectionLayout>

<style lang="scss"></style>
