---
import Layout from '@/layouts/mainLayout.astro'
import Pagination from '@/components/vue/Pagination.vue'
import NewsCard from '@/components/astro/card/NewsCard.astro'

import { getAllNews } from '@/api/news'
import type { NewsDocument } from '@/types/prismic'

export async function getStaticPaths({ paginate }: any) {
  const entries = await getAllNews()
  return paginate(entries, { pageSize: 9 })
}

const { page } = Astro.props
---

<Layout title="News">
  <div class="title">
    <h1 class="title-heading">News</h1>
    <h3 class="title-description">What's going on?</h3>
  </div>
  <section class="content">
    {
      page.data.map((news: NewsDocument) => {
        return <NewsCard news={news} />
      })
    }
  </section>
  <div class="pagination-wrapper">
    <Pagination offset={page.currentPage} maxPage={page.total} />
  </div>
</Layout>

<style lang="scss">
  @import '@/styles/_variables.scss';
  .content {
    margin: 64px 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    justify-items: center;

    @include tablet {
      grid-template-columns: 1fr;
    }

    @include sp {
      grid-template-columns: 1fr;
    }
  }

  .title {
    &-heading {
      font-size: map-get($map: $font-sizes, $key: 'title');
      text-align: center;
    }

    &-description {
      text-align: center;
      font-size: map-get($map: $font-sizes, $key: 'heading4');
      font-weight: 300;
      color: map-get($map: $text-colors, $key: 'grey');
    }
  }
  .pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
</style>
