---
import Layout from '../layouts/mainLayout.astro'
import Card from '../components/Card.astro'
import Profile from '../components/Profile.astro'
---

<Layout title="maru's room">
  <main class="page">
    メインページ
    <Profile />
  </main>
</Layout>

<style lang="scss">
  @import '../styles/_variables.scss';

  .page {
    padding: 20px;
  }
  .main-bg {
    background-color: map-get($map: $base-colors, $key: 'primary');
  }
</style>
