---
import Layout from '../layouts/mainLayout.astro'
import Profile from '@/components/astro/pages/top/Profile.astro'
import News from '../components/astro/pages/top/News.astro'
import Blog from '../components/astro/pages/top/Blog.astro'
import Logo from '@public/logo.png'

import { getTopNews } from '../api/news'
import { getTopBlog } from '../api/blog'

const newsList = await getTopNews()

const blogList = await getTopBlog()
---

<Layout title="まる家">
  <div class="page-firstview">
    <div class="page-logo-wrapper">
      <img src={Logo} alt="ロゴ画像" class="page-logo" />
    </div>
    <p class="page-logo-paragraph">まるのポートフォリオ兼個人サイト</p>
  </div>
  <div class="page-section-list">
    <Profile hasDetailLink={true} />
    <News newsList={newsList.results} />
    <Blog blogList={blogList.results} />
  </div>
</Layout>

<style lang="scss">
  @import '@/styles/_variables.scss';

  .page {
    &-firstview {
      margin-bottom: 100px;
    }

    &-section-list {
      display: flex;
      flex-direction: column;
      row-gap: 150px;
    }

    &-logo {
      margin: auto;
      width: 350px;

      @include sp {
        width: 100%;
        max-width: 200px;
      }

      &-paragraph {
        margin-top: 10px;
        font-weight: 300;
        color: map-get($map: $text-colors, $key: 'grey');
        text-align: center;
      }

      &-wrapper {
        text-align: center;
      }
    }
  }
  .main-bg {
    background-color: map-get($map: $base-colors, $key: 'primary');
  }
</style>
