<footer class="footer">
  <p>Footer</p>
</footer>

<style lang="scss">
  @import '../styles/_variables.scss';
  .footer {
    padding: 20px;
    color: map-get($map: $text-colors, $key: 'white');
    background-color: map-get($map: $bg-colors, $key: 'dark-grey');
  }
</style>
