<header class="header">
  <svg class="header-logo" viewBox="0 0 1000 191">
    <use xlink:href="logo-1.svg#logo"></use>
  </svg>
  <ul class="header-link-list">
    <li class="header-link"><a href="/">Home</a></li>
    <li class="header-link"><a href="/feature">Feature</a></li>
    <li class="header-link"><a href="/news">News</a></li>
    <li class="header-link"><a href="/blog">Blog</a></li>
  </ul>
</header>

<style lang="scss">
  @import '../styles/_variables.scss';
  .header {
    margin: 0 20px;
    display: grid;
    position: sticky;
    inset: 0;
    grid-template-columns: max-content 1fr;
    background-color: map-get($map: $bg-colors, $key: 'white');
    &-link {
      display: block;
      flex-grow: 1;
      & > a {
        padding: 20px 0;
        text-decoration: none;
        color: map-get($map: $text-colors, $key: 'primary');
        display: block;
        text-align: center;
      }
      &-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        list-style: none;
      }
    }

    &-logo {
      width: 100px;
      height: 60px;
    }
  }
</style>
