@import '@/styles/_variables.scss';

.rich-editor {
  padding: 0 140px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  @include sp {
    padding: 0 10px;
    row-gap: 15px;
  }

  & .twitter-tweet {
    margin: 0 auto;
  }

  & > .block-img {
    margin: 0 auto;
  }

  & > h1 {
    font-size: map-get($map: $font-sizes, $key: 'heading1');

    @include sp {
      font-size: map-get($map: $font-sizes, $key: 'heading2');
    }
  }
  & > h2 {
    font-size: map-get($map: $font-sizes, $key: 'heading2');
    @include sp {
      font-size: map-get($map: $font-sizes, $key: 'heading3');
    }
  }
  & > h3 {
    font-size: map-get($map: $font-sizes, $key: 'heading3');
    @include sp {
      font-size: map-get($map: $font-sizes, $key: 'heading4');
    }
  }

  & > h4 {
    font-size: map-get($map: $font-sizes, $key: 'heading4');
    @include sp {
      font-size: map-get($map: $font-sizes, $key: 'heading5');
    }
  }
  & > h5 {
    font-size: map-get($map: $font-sizes, $key: 'heading5');
    @include sp {
      font-size: map-get($map: $font-sizes, $key: 'caption');
    }
  }
  & > h6 {
    font-size: map-get($map: $font-sizes, $key: 'heading6');
  }

  & > p {
    font-size: map-get($map: $font-sizes, $key: 'body');
    @include sp {
      font-size: map-get($map: $font-sizes, $key: 'small_body');
    }

    & > a {
      color: map-get($map: $text-colors, $key: 'accent-blue');
      text-decoration: underline;
    }
  }

  & > ol {
    & > li {
      list-style: decimal;
      list-style-position: inside;
    }
  }

  & > ul {
    & > li {
      list-style: inside;
    }
  }

  & img {
    text-align: center;
    margin: 20px 0;
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  & div {
    &[data-type='article'] > a {
      max-width: 510px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content max-content;
      row-gap: 20px;
      padding: 20px;
      border: 1px solid rgb(207, 217, 222);
      border-radius: 12px;
      transition-duration: 0.2s;

      &:hover {
        background-color: rgb(247, 249, 249);
      }

      & > img {
        margin: auto;
        grid-row: 2 / 3;
        border-radius: 12px;
      }

      & > h1 {
        grid-row: 1 / 2;
        font-size: map-get($map: $font-sizes, $key: 'heading3');
        color: map-get($map: $text-colors, $key: 'primary');
      }

      & > p {
        grid-row: 3 / 4;
        font-weight: 300;
        font-size: map-get($map: $font-sizes, $key: 'text');
        color: map-get($map: $text-colors, $key: 'grey');
      }
    }
  }
}
