---
import LinkButton from '@/components/astro/LinkButton.astro'
import NewsCard from '@/components/astro/card/NewsCard.astro'
import SectionLayout from '@/layouts/SectionLayout.astro'
import type { NewsDocument } from '@/types/prismic'

type Props = {
  newsList: Array<NewsDocument>
}

const { newsList } = Astro.props
---

<SectionLayout title="News" description="What's going on?">
  <div class="news-content">
    {
      newsList.map((news) => {
        return <NewsCard news={news} />
      })
    }
  </div>
  <footer class="news-footer">
    <LinkButton link="/news/page/1" text="Read More!" ariaLabel="このサイトのお知らせ一覧を見る" />
  </footer>
</SectionLayout>

<style lang="scss">
  @import '@/styles/_variables.scss';
  .news {
    &-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
    }

    &-footer {
      margin: 0 120px;
      margin-top: 40px;
    }
  }
</style>
