---
import LinkButton from '@/components/astro/LinkButton.astro'
import List from '@/components/astro/List.astro'
import SectionLayout from '@/layouts/SectionLayout.astro'
import type { NewsDocument } from '@/types/prismic'
import { convertNewsForList } from '@/utils/convertList'

type Props = {
  newsList: Array<NewsDocument>
}

const { newsList } = Astro.props
---

<SectionLayout title="News" description="What's going on?">
  <div class="news-content">
    <List list={convertNewsForList(newsList)} />
  </div>
  <footer class="news-footer">
    <LinkButton
      link="/news/page/1"
      text="一覧を見てみる"
      ariaLabel="このサイトのお知らせ一覧を見る"
    />
  </footer>
</SectionLayout>

<style lang="scss">
  @import '@/styles/_variables.scss';
  .news {
    &-content {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
    }

    &-footer {
      margin: 0 120px;
      margin-top: 40px;

      @include sp {
        margin: 0;
        margin-top: 40px;
      }
    }
  }
</style>
