---
import LinkButton from '@/components/astro/LinkButton.astro'
---

<section>
  <header class="profile-heading">
    <h1 class="profile-heading-title">Profile</h1>
    <h3 class="profile-heading-description">Who Are You?</h3>
  </header>
  <div class="profile">
    <img class="profile-image" src="face.jpeg" alt="作者のSNSアイコン" />
    <div class="profile-info">
      <div>
        <p class="profile-info-my-name">maru (まる)</p>
      </div>
      <ul class="profile-info-description-list">
        <li class="profile-info-description">Frontend Developer</li>
        <li class="profile-info-descriotion">Rhythm Game Nerd</li>
        <li class="profile-info-descriotion">Can't understand English...</li>
      </ul>
      <div class="profile-sns">
        <p class="profile-sns-heading">Please follow me!</p>
        <div class="profile-sns-grid">
          <a
            class="profile-sns-link"
            href="https://github.com/marucircle"
            aria-label="作者のGithubプロフィールを見る"
          >
            <svg class="profile-sns-icon" viewBox="0 0 24 24">
              <use xlink:href="sns/github.svg#github"></use>
            </svg>
          </a>
          <a
            class="profile-sns-link"
            href="https://twitter.com/kabitaya1133"
            aria-label="作者のTwitterプロフィールを見る"
          >
            <svg class="profile-sns-icon sns-twitter" viewBox="0 0 400 400">
              <use xlink:href="sns/twitter.svg#twitter"></use>
            </svg>
          </a>
          <a
            class="profile-sns-link"
            href="https://qiita.com/marumaru0113"
            aria-label="作者のQiitaプロフィールを見る"
          >
            <img class="profile-sns-icon" src="sns/qiita.png" alt="Qiitaのロゴアイコン" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer class="profile-footer">
    <LinkButton link="/feature" text="Read More!" ariaLabel="このサイトの作者詳細を見る" />
  </footer>
</section>

<style lang="scss">
  @import '@/styles/_variables.scss';
  .profile {
    margin: 64px 10%;
    display: flex;
    grid-column-gap: 20px;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    &-image {
      width: 25%;
      height: auto;
      border-radius: 50%;
    }

    &-heading {
      &-title {
        font-size: map-get($map: $font-sizes, $key: 'title');
        text-align: center;
      }

      &-description {
        text-align: center;
        font-size: map-get($map: $font-sizes, $key: 'heading4');
        font-weight: 300;
        color: map-get($map: $text-colors, $key: 'grey');
      }
    }

    &-info {
      &-my-name {
        font-size: map-get($map: $font-sizes, $key: 'heading1');
        font-weight: bold;
      }
      &-description {
        &-list {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          padding: 10px 15px;
          margin-top: 10px;
          border-left: 5px solid #555555;
          list-style: none;
        }
      }
    }

    &-sns {
      margin-top: 45px;
      &-heading {
        text-align: center;
        font-size: map-get($map: $font-sizes, $key: 'heading4');
        font-weight: bold;
        color: map-get($map: $text-colors, $key: 'grey');
      }

      &-link {
        text-decoration: none;
      }

      &-grid {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
      }

      &-icon {
        width: 40px;
        height: 40px;
      }
    }

    &-footer {
      margin: 0 120px;
    }
  }

  .sns {
    &-twitter {
      color: map-get($map: $sns-colors, $key: 'twitter');
    }
  }
</style>
