---
type Props = {
  title: string
  description: string
  style?: Object
}

const { title, description, style } = Astro.props
---

<section>
  <header class="heading">
    <h1 class="heading-title">{title}</h1>
    <h2 class="heading-description">{description}</h2>
  </header>
  <div class="wrapper" style={style}>
    <slot />
  </div>
</section>

<style lang="scss">
  @import '@/styles/_variables.scss';
  .heading {
    &-title {
      font-size: map-get($map: $font-sizes, $key: 'title');
      text-align: center;
    }

    &-description {
      text-align: center;
      font-size: map-get($map: $font-sizes, $key: 'heading4');
      font-weight: 300;
      color: map-get($map: $text-colors, $key: 'grey');
    }
  }

  .wrapper {
    margin: 64px 10%;

    @include sp {
      margin: 40px 20px;
    }
  }
</style>
